
body {

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(20, 20, 80);

    padding: 32px;

    max-width: 100%;
    overflow-x: hidden;

}

#vignette {

    z-index: -1;

    pointer-events: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 0 48px;

    position: fixed;

}

#ActionBar {

    position: fixed;

    z-index: 10;

    width: fit-content;
    top: 0; left: 0;

    padding: 32px;

    margin-right: 32px;

    display: flex;
    justify-content: right;

}

#FileDrop {

    border-radius: 14px;

    background-color: rgb(40, 40, 80);
    box-shadow: 0 0 16px black;

    width: 128px; height: 128px;

    right: 0;
    top: 0;

    transition: all 0.2s;

    color: rgb(60, 60, 100);
    font-weight: 999;
    font-size: 32px;
    
    padding: 12px;

    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

}

#ActionBar button {

    margin-right: 32px;

    box-shadow: 0 0 16px black;

    background-color: rgb(40, 40, 80);

    border-radius: 12px;

    border: 0;

    width: 64px; height: 64px;

    transition: all 0.2s;

    transform: translateY(0);

}

#ActionBar button img {

    align-self: center;

    width: 80%; height: auto;

}

#ActionBar button:hover {

    background-color: rgb(120, 120, 180);

    transform: translateY(-12px);

    box-shadow: 0 12px 16px black;

}

#DownloadFileButton img {

    width: 50%; height: 50%;

}

.Item {

    margin: 48px;

    background-color: rgb(40, 40, 80);

    box-shadow: 0 0 16px;

    border-radius: 8px;

    padding: 24px;

    width: fit-content;
    height: fit-content;

}

.PropertyName {

    color: white;

    text-shadow: 0 0 2px rgba(255, 255, 255 , 128);
    font-size: 40px;
    font-weight: bolder;

    margin-top: 0;
    margin-bottom: 12px;

}

.PropertyList {

    padding-left: 64px;

    width: fit-content;
    height: fit-content;

}

.Edit {

    text-shadow: 0 0 2px rgba(0, 0, 0 , 128);
    font-size: 24px;
    font-weight: bolder;

    border: 0;
    border-radius: 6px;

    box-shadow: 0 0 12px;

    padding: 8px;

    margin-bottom: 48px;


    transition: all 0.2s;

    background-color: rgb(80, 80, 120);

}

.Edit:focus {

    background-color: rgb(120, 120, 180);

    outline: none;

}

.ItemTexture {

    width: 100%;
    height: auto;

    margin-top: 12px;
    margin-bottom: 24px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    transition: all 0.3s;

    transform: translateY(0);
    filter: drop-shadow(0 12px 8px);

}

.ItemTexture:hover {

    transform: translateY(-16px);
    filter: drop-shadow(0 28px 8px);

}