
body {

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(20, 20, 80);

    padding: 32px;

    max-width: 100%;
    overflow-x: hidden;

}

#vignette {

    z-index: -1;

    pointer-events: none;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 0 48px;

    position: fixed;

}

.Item {

    margin: 48px;

    background-color: rgb(40, 40, 80);

    box-shadow: 0 0 16px;

    border-radius: 8px;

    padding: 24px;

    width: fit-content;
    height: fit-content;

}

.Item .PropertyName {

    color: white;

    text-shadow: 0 0 2px rgba(255, 255, 255 , 128);
    font-size: 40px;
    font-weight: bolder;

    margin-top: 0;
    margin-bottom: 12px;

}

.Item .Edit {

    text-shadow: 0 0 2px rgba(0, 0, 0 , 128);
    font-size: 24px;
    font-weight: bolder;

    border: 0;
    border-radius: 6px;

    box-shadow: 0 0 12px;

    padding: 8px;

    margin-bottom: 48px;


    transition: all 0.4s;

    background-color: rgb(80, 80, 120);

}

.Item .Edit:focus {

    background-color: rgb(120, 120, 180);

}

.Item .ItemTexture {

    width: 100%;
    height: auto;

    margin-top: 12px;
    margin-bottom: 24px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    transition: all 0.3s;

    transform: translateY(0);
    filter: drop-shadow(0 12px 8px);

}

.Item .ItemTexture:hover {

    transform: translateY(-16px);
    filter: drop-shadow(0 28px 8px);

}